/*
 Theme Name:   Themify Ultra Child Theme
 description: >-
   A child theme of the Themify Ultra
 Author:       Sin Hsia Kwok
 Template:     themify-ultra
 Version:      1.0.0
*/


#headerwrap #main-nav > li a {
    border-bottom: none;
}

#headerwrap #main-nav > li:last-child a, #headerwrap #main-nav > li a {
    border-bottom: none;
}

#main-nav ul {
    font-size: 1.2em;
}

.social-widget {
    margin-top: 340px;
    position: absolute;
    font-family:Times New Roman;
}

.social-widget .widget{
width: 240px;
margin: 0;
}

.social-links li :hover{
color: #ed1e24;
}

.textwidget{
text-decoration: line-through;
}

.redText{
color: #ed1e24;
}

.social-links .icon-medium i {
    padding: .25em 0.12em;
}

#main-nav .menu-item-has-children .child-arrow:before, #main-nav .page_item_has_children .child-arrow:before {
    padding-left: 100px;
    left: 0px;
}